<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>dsa</title>
  <link rel="stylesheet" href="app.css">
</head>
<body>
  <navbar id="nav">
    <h1>DearGrandpa</h1>
    <ul id="nav-list">
      <a href="/home"><li class="lis-item">Home</li></a>
      <a href="/map"><li class="lis-item">Play</li></a>
      <a href="/login"><li class="lis-item">Login</li></a>
    </ul>
    <h1>User</h1>
  </navbar>
  <div id="section1">
    <h1>will you help amelia achieve success?</h1>
    <a href="/map">
      <button class="btn">Play!</button>
    </a>
    <div></div>
    <img src="girlsit.png" alt="a girl sitting" id="image">
  </div>
  <div id="section2">
    <div id="section2-story">
      <h1>Main Story</h1>
      <p>Amelia, a college student with a shaky grasp on data structures, faces repeated interview setbacks. Feeling disheartened, she stumbles upon her late grandfather's coding notes, sparking a deep emotional connection.</p>
    </div>
    <div id="section2-img">
      <img src="study.png" alt="">
    </div>
  </div>
  <div id="section3">
    <div id="section3-img">
      <img src="sitting.png" alt="">
    </div>
    <div id="section3-story">
      <h1>Join Amelia</h1>
      <p>Let's join amelia on an exciting journey where she finds the secret in her grandfather's diary and solves the mystery by solving exciting puzzles from his grandfather's hints </p>
    </div>
  </div>
  <div id="section4">
    <div id="section4-img">
      <img src="2finger.png" alt="">
    </div>
    <div id="section3-story">
      <h1>Click play button to start quest</h1>
      <a href="/map">
        <button class="btn largeButton">Play!</button>
      </a>
    </div>
  </div>
</body>
</html>