<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <style>
        hr{
            height: 0.5vh;
            width: 1.1vw;
            background: black;
            display: inline-block;
            position: relative;
        }
    </style>
</head>
<body>
    <h1>Levels</h1>
    <section>
        <a href="" class="level-1">1</a>
        <hr style="left: 20px; top: 40px;">
        <hr style="left: 40px; top: 44px;">
        <hr style="left: 60px; top: 48px;">
        <hr style="left: 80px; top: 52px;">

        <a href="" class="level-2">2</a>
        <hr style="left: 110px; top: 57px;">
        <hr style="left: 130px; top: 61px;">
        <hr style="left: 150px; top: 65px;">
        <hr style="left: 170px; top: 69px;">

        <a href="" class="level-3">3</a>
        <hr style="left: 190px; top: 77px;">
        <hr style="left: 210px; top: 81px;">
        <hr style="left: 230px; top: 85px;">
        <hr style="left: 250px; top: 89px;">

        <a href="" class="level-4">4</a>
        <hr style="left: 270px; top: 95px;">
        <hr style="left: 290px; top: 99px;">
        <hr style="left: 310px; top: 103px;">
        <hr style="left: 330px; top: 107px;">

        <a href="" class="level-5">5</a>
        <hr style="left: 350px; top: 111px;">
        <hr style="left: 370px; top: 115px;">
        <hr style="left: 390px; top: 119px;">
        <hr style="left: 410px; top: 123px;">

        <a href="" class="level-6">6</a>
        <hr style="left: 300px; top: 200px;">
        <hr style="left: 250px; top: 205px;">
        <hr style="left: 200px; top: 210px;">

        <a href="" class="level-7">7</a>
        <hr style="right: 40px; top: 260px;">
        <hr style="right: 90px; top: 265px;">
        <hr style="right: 140px; top: 270px;">

        <a href="" class="level-8">8</a>
        <hr style="right: 400px; top: 300px;">
        <hr style="right: 450px; top: 305px;">

        <a href="" class="level-9">9</a>
        <hr style="left: 710px; top: 310px;">
        <hr style="left: 660px; top: 316px;">

        <a href="" class="level-10">10</a>
        <hr style="left: 370px; top: 340px;">
        <hr style="left: 310px; top: 345px;">
        <hr style="left: 250px; top: 350px;">

        <a href="" class="level-11">11</a>
        <hr style="right: 55px; top: 375px;">
        <hr style="right: 110px; top: 380px;">
        <hr style="right: 160px; top: 385px;">

        <a href="" class="level-12">12</a>
        <hr style="right: 320px; top: 485px;">
        <hr style="right: 310px; top: 495px;">
        <hr style="right: 300px; top: 510px;">

        <a href="" class="level-13">13</a>
        <hr style="right: 220px; top: 525px;">
        <hr style="right: 200px; top: 529px;">
        <hr style="right: 180px; top: 533px;">

        <a href="" class="level-14">14</a>
        <hr style="right: 120px; top: 540px;">
        <hr style="right: 100px; top: 547px;">
        <hr style="right: 80px; top: 553px;">

        <a href="" class="level-15">15</a>
        <hr style="right: 60px; top: 570px;">
        <hr style="right: 40px; top: 575px;">

        <a href="" class="level-16">16</a>
        <hr style="right: 160px; top: 670px;">
        <hr style="right: 220px; top: 675px;">

        <a href="" class="level-17">17</a>
        <hr style="left: 850px; top: 680px;">
        <hr style="left: 790px; top: 690px;">

        <a href="" class="level-18">18</a>
        <hr style="left: 490px; top: 715px;">
        <hr style="left: 440px; top: 720px;">

        <a href="" class="level-19">19</a>
        <hr style="left: 150px; top: 745px;">
        <hr style="left: 100px; top: 750px;">

        <a href="" class="level-20">20</a>
    </section>
</body>
</html>